body{
    background-color: #ffffff;
    font-family: Baloo, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
    box-sizing: border-box;
}


container{
    background-color: #ffffff;
    width: 1500px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}


nav{
    background-color: #ffffff;
    align-items: center;
    flex: 1 0 1200px;
}


ul{
    background-color: #ffffff;
    display: flex;
    list-style-type: none;
    /* justify-content: center;    */
    margin-left: 80px;
}


li{
    /* justify-content: baseline; */
    margin-left: 90px;
    margin-top: 80px;
}


a:link{
    display: block;
    padding:  5px 10px;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    color:#158025;
}

.block-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between; 
    /* padding: 20px; */
  }

  .block {
    /* width: 30%; */
    height: 750px;            
    background-size: cover;   
    display: flex;
    /* background-position: center; */
  
  }
  
  .block1 {
    width: 30%;
    margin-top: 50px;
    background-image: url('images/clock.svg');
  }
  
  .block2 {
    width: 50%;
    background-image: url('images/desk.svg');
  }
  
  .block3 {
    width: 30%;
    background-image: url('images/poster.svg');
  }

  .block img{
    vertical-align: middle;
}
